# Nextflow work directories
work/
.nextflow*
results/

# Nextflow reports
trace.txt
timeline.html
report.html
dag.html

# Logs
*.log

# Input data (optional – if users supply their own)
data/
reference_genome/

# Accidental output folder
null

